<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unated.askincht_beta">
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMain"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data android:name="com.facebook.accountkit.ClientToken" android:value="@string/account_kit_client_token" />

        <activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"
            />
        <activity
        android:name=".Activity.MainActivity"
        android:screenOrientation="portrait"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name=".Activity.MainActivity" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f4f820249f565e7fb442e86f745a6bb937d3cb91"
            />
        <activity
            android:name=".Activity.PhoneDialogFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activity.AdviceScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".View.FullScreenImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".Activity.ShopListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"            />
        <activity
            android:name=".Activity.SimpleSampleActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"            />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:theme="@style/ChatStyle">

            <intent-filter>
                <action android:name="ACTIVITY_CHAT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".SocketService" />

        <!-- [START firebase_service] -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity android:name=".Fragments.MapChat"></activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


    </application>



</manifest>